<!--<md-toolbar color="accent">
  <button md-button (click)="openDocumentInNewWindow(selectedDocument.documentSource)">{{selectedDocument.documentSource}}</button> 

  <span class="fill-remaining-space"></span> 
  
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu" x-position="before" y-position="below">
      <button md-menu-item> Recalculate Coverage </button>
      <hr> 
      <button md-menu-item> Hide Discarded </button>
      <button md-menu-item> Hide Mapable </button>
      <button md-menu-item> Hide Countrywide </button>
      <hr> 
      <button md-menu-item> Hide Alerts </button>
      <button md-menu-item> Hide Profiles </button>
      <hr> 
      <button md-menu-item color="warn"> Reset Document Editing </button>
  </md-menu>

</md-toolbar>-->

<!--<div class="display-fixed-columns" style="overflow-y: auto">

  <md-card *ngFor="let fact of selectedDocument.facts" >
    <md-card-subtitle>
      {{fact.countryName}}
      <button md-icon-button (click)="openEditor(fact)">
        <md-icon class="md-24">edit</md-icon>
      </button>
      <button md-icon-button>
        <md-icon class="md-24">call_merge</md-icon>
      </button>
    </md-card-subtitle>
    <md-card-content>{{fact.displayText ? fact.displayText : fact.factText }}</md-card-content>    
    <md-card-actions>
      <button md-button *ngFor="let category of fact.categories" 
        color="primary" 
        (click)="saveFactStatus(fact, category)"
        [style.border-width.px]="category === fact.factCategory ? 1 : 0" 
        [style.border-style]="'solid'"
      >{{category}}</button>
     </md-card-actions>
  </md-card>   
  
  <button md-raised-button *ngIf="selectedDocument.facts && (selectedDocument.facts.length > 0)" (click)="saveDocumentStatusAsCurrated(selectedDocument)">THIS DOCUMENT HAS BEEN CURATED</button>

</div>  

<div class="display-variable-columns">

  <sebm-google-map [latitude]="lat" [longitude]="lng" style="width: 100%; height: 100%;">
    <sebm-google-map-polyline *ngFor="let polyline of displayPolylines" >
          <sebm-google-map-polyline-point *ngFor="let point of polyline" [latitude]="point.lat" [longitude]="point.lng">
         </sebm-google-map-polyline-point> 
     </sebm-google-map-polyline>
  </sebm-google-map>

</div>  -->

<md-tab-group>
  <md-tab>
    <template md-tab-label>Document Source</template>
    <template md-tab-content>
  
      <md-card >
        <md-card-subtitle>
           <button md-button (click)="openDocumentInNewWindow(selectedDocument.documentSource)">{{selectedDocument.documentTitle}}</button>
           <button md-mini-fab (click)="resetDocument(selectedDocument)">
            <md-icon class="md-24" color="warn">undo</md-icon>
           </button>
       </md-card-subtitle>
        <md-card-content> 
          <div *ngFor="let fact of selectedDocument.facts" >
            <button md-icon-button color="accent" (click)="openEditor(fact)">
              <md-icon class="md-24">edit</md-icon>
            </button>
            <button md-icon-button color="accent" (click)="saveFactMerge(fact)">
              <md-icon class="md-24">call_merge</md-icon>
            </button>
            <button md-icon-button color="warn" (click)="saveFactDiscarded(fact)">
              <md-icon class="md-24">delete</md-icon>
            </button>
            <span [style.textDecoration]="fact.isDiscarded ? 'line-through' : '' " >
              {{ (fact.isMerged === true || fact.displayText) ? fact.displayText : fact.factText}}
            </span>
         </div>  
        </md-card-content>    
      </md-card>   

    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Fact Categories</template>
    <template md-tab-content>

      <md-card *ngFor="let fact of selectedDocument.facts" >
        <md-card-subtitle>
          {{fact.countryName}}
          <button md-icon-button (click)="openEditor(fact)">
            <md-icon class="md-24">edit</md-icon>
          </button>
          <button md-icon-button>
            <md-icon class="md-24">call_merge</md-icon>
          </button>
        </md-card-subtitle>
        <md-card-content>{{fact.displayText ? fact.displayText : fact.factText }}</md-card-content>    
        <md-card-actions>
          <button md-button *ngFor="let category of fact.categories" 
            color="primary" 
            (click)="saveFactStatus(fact, category)"
            [style.border-width.px]="category === fact.factCategory ? 1 : 0" 
            [style.border-style]="'solid'"
          >{{category}}</button>
        </md-card-actions>
      </md-card> 

    </template>
  </md-tab>
</md-tab-group>

